<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="lichee.xml" />
	<property name="filePath" value="logs" />
	<property name="fileDefaultName" value="log" />
	<property name="filePattern" value="%d{yyyy-MM-dd}" />
	<property name="contentPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
	<property name="file" value="${filePath}/${projectName:-${fileDefaultName}}.log" />
	<property name="fileNamePattern" value="${filePath}/${projectName:-${fileDefaultName}}.${filePattern}.log" />
	<property name="package" value="${package:-${packageDefaultName}}" />
	<property name="packageDefaultName" value="com" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>${contentPattern}</pattern>
		</encoder>
	</appender>
	
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${file}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${fileNamePattern}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>${contentPattern}</pattern>
		</encoder>
	</appender>
	
	<logger name="${package}" level="INFO" />
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="com.google" level="ERROR" />
	<logger name="net.rubyeye" level="ERROR" />
	
	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
	
</configuration>